img {
    max-width: 300px;
    height: auto;
}



.content-flex-container {
    width: 80%;
    height: auto;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
}

.item-display-container {
    width: 80%;
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}